.letter-spacing-em(@ls) {
  letter-spacing: unit(@ls, em);
  padding-left: unit(@ls, em);
}

.text-light {
  color: var(--ework-text-color) !important;
  &:hover {
    color: var(--ework-text-color-hover) !important;
  }
}

.text-dark {
  color: var(--ework-text-color-2) !important;
  &:hover {
    color: var(--ework-text-color-2-hover) !important;
  }
}
