:root {
  --el-color-primary: #009688;
  --ework-text-white: #fffc;
  --ework-text-white-hover: var(--el-color-white);
  --ework-text-black: #858585;
  --ework-text-black-hover: #666;
  // 主题色
  --ework-theme-bg-color: #fff;
  --ework-header-bg-color: var(--ework-theme-bg-color);
}
html.dark {
  --el-color-primary: #009688;
  --ework-text-white: #cfd3dc;
  --ework-text-black: #cfd3dc;
  --ework-text-black-hover: #dfdfdf;
  // 主题色
  --ework-theme-bg-color: #141414;
}
